<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="cinesaquimismoConnectionString" connectionString="Data Source=servidorcines.database.windows.net;Initial Catalog=cinesaquimismo;Persist Security Info=True;User ID=daniel@servidorcines;Password=Akihinata1"
      providerName="System.Data.SqlClient" />
        <add name="ConnectionString" connectionString="server=localhost;user id=root;password=Akihinata123;persistsecurityinfo=True;database=cinesaquimismo"
           providerName="Mysql.Data.MysqlClient" />

      <add name="ConnectionString" connectionString="Server=ftp-eu.site4now.net; Database=cinesaquimismo; Uid=root; Pwd=Akihinata123;"
           providerName="Mysql.Data.MysqlClient" />
      
        <add name="LogicaNegocioyADatos.Properties.Settings.cinesaquimismoConnectionString"
            connectionString="server=localhost;user id=root;password=Akihinata123;persistsecurityinfo=True;database=cinesaquimismo"
            providerName="MySql.Data.MySqlClient" />

        <add name="LogicaNegocioyADatos.Properties.Settings.cinesaquimismoConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=cinesaquimismo"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>